<template lang="pug">
  svg(
    width="21"
    height="21"
    viewBox="0 0 21 21"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  )
    circle(cx="10.5" cy="10.5" r="10" stroke="#1F2041" stroke-opacity="0.5")
    path(d="M15.372 9.94874C15.4572 9.74811 15.505 9.52874 15.505 9.29999C15.505 8.30624 14.6114 7.49999 13.51 7.49999C13.1006 7.49999 12.7182 7.61249 12.4023 7.80374C11.8267 6.90374 10.7523 6.29999 9.51995 6.29999C7.68289 6.29999 6.19495 7.64249 6.19495 9.29999C6.19495 9.35061 6.19703 9.40124 6.19911 9.45186C5.03536 9.82124 4.19995 10.8225 4.19995 12C4.19995 13.4906 5.54034 14.7 7.19245 14.7H14.84C16.3092 14.7 17.5 13.6256 17.5 12.3C17.5 11.1394 16.5856 10.17 15.372 9.94874ZM12.6101 11.6119L10.4198 13.5881C10.2909 13.7044 10.079 13.7044 9.95012 13.5881L7.75978 11.6119C7.54989 11.4225 7.69951 11.1 7.99461 11.1H9.3537V8.99999C9.3537 8.83499 9.50333 8.69999 9.6862 8.69999H10.6837C10.8666 8.69999 11.0162 8.83499 11.0162 8.99999V11.1H12.3753C12.6704 11.1 12.82 11.4225 12.6101 11.6119Z" fill="#1F2041" fill-opacity="0.5")
</template>

<script>
export default {
  name: 'UploadIcon'
};
</script>
