<template lang="pug">
  .topbar-menu
    // Projects Dropdown
    b-dropdown(
      aria-role="menu"
      @active-change="isProjectsDropdownOpened = !isProjectsDropdownOpened"
    ).mr-3
      p(
        slot="trigger"
        role="button"
      ).text-bsw-gray-50
        | Проекты
        b-icon(
          icon="chevron-down"
          size="is-small"
          :class="{ 'rotate-180': isProjectsDropdownOpened }"
        ).transform.transition.duration-300
      b-dropdown-item(
        custom
        aria-role="menu-item"
        :focusable="false"
        style="width: 400px"
      )
        .projects-dropdown.h-64
          b-tabs(size="is-small").h-full
            b-tab-item(label="Мои проекты")
              template(v-if="!myProjects.length")
                h1 У Вас пока нет проектов в работе...
              template(v-else)
                PerfectScrollbar
                  project-label(
                    :project="myProjects[0]"
                    img="/mock/mock_project_small.png"
                    label="Временное название проекта"
                  )
                  project-label(
                    :project="myProjects[0]"
                    img="/mock/mock_project_small.png"
                    label="Временное название проекта"
                  )
                  project-label(
                    :project="myProjects[0]"
                    img="/mock/mock_project_small.png"
                    label="Временное название проекта"
                  )
                  project-label(
                    :project="myProjects[0]"
                    img="/mock/mock_project_small.png"
                    label="Временное название проекта"
                  )
                  project-label(
                    :project="myProjects[0]"
                    img="/mock/mock_project_small.png"
                    label="Временное название проекта"
                  )
            b-tab-item(label="Приглашения")
              template(v-if="!myProjects.length")
                h1 У Вас пока нет приглашений в другие проекты...
              template(v-else)
                PerfectScrollbar
                  project-label(
                    :project="myInvitations[1]"
                    img="/mock/mock_project_small.png"
                    label="Временное название проекта"
                  )
                  project-label(
                    :project="myInvitations[1]"
                    img="/mock/mock_project_small.png"
                    label="Временное название проекта"
                  )

    // About Workshop Dropdown
    b-dropdown(
      aria-role="list"
      @active-change="isAboutDropdownOpened = !isAboutDropdownOpened"
    )
      p(
        slot="trigger"
        role="button"
      ).text-bsw-gray-50
        | О мастерской
        b-icon(
          icon="chevron-down"
          size="is-small"
          :class="{ 'rotate-180': isAboutDropdownOpened }"
        ).transform.transition.duration-300
      b-dropdown-item(aria-role="listitem").text-bsw-gray-50 С чего начать
      b-dropdown-item(aria-role="listitem").text-bsw-gray-50 Роли
      b-dropdown-item(aria-role="listitem").text-bsw-gray-50 Обновления
      b-dropdown-item(aria-role="listitem").text-bsw-gray-50 WORKFLOW
      b-dropdown-item(aria-role="listitem").text-bsw-gray-50 Стастистика
</template>

<script lang="ts" src="./TopBarMenu.ts"></script>

<style>
.projects-dropdown .tab-content {
  padding: 1rem 0;
  height: 100%;
}
.projects-dropdown .ps {
  max-height: 210px;
}
</style>