<template lang="pug">
  .new-update-page.p-6.mx-auto.max-w-screen-lg
    .new-update-page__breadcrumbs.mb-6.flex.justify-between
      breadcrumbs(:links="links")
    .new-update-page__content
      froala(tag="textarea" :config="froalaEditorconfig" v-model="froalaModel")
</template>

<script lang="ts" src="./index.ts"></script>
