<template lang="pug">
  .news-page.p-6.mx-auto.max-w-screen-lg
    .news-page__breadcrumbs.mb-10
      breadcrumbs(:links="links")
    .news-page__content
      news-feed-item(
        v-for="(item, i) in newsItems"
        :key="`nfi${i}`"
        :item="item"
      ).mb-2
</template>

<script lang="ts" src="./index.ts"></script>
