<template lang="pug">
  .project-card.w-64
    .card.has-background-light
      nuxt-link(:to="`/project/${project.uid}`").card-content.p-3
        project-label(
          :hoverable="false"
          :label="project.name"
          :img="project.coverSmall"
        )
      .card-footer
        .card-footer-item
          b-icon(
            icon="book-open-page-variant"
            size="is-small"
            class="hover:text-purple-600"
          ).cursor-pointer
        .card-footer-item
          b-icon(
            icon="palette"
            size="is-small"
            class="hover:text-orange-600"
          ).cursor-pointer
        .card-footer-item
          b-icon(
            icon="music"
            size="is-small"
            class="hover:text-pink-600"
          ).cursor-pointer
        .card-footer-item
          b-icon(
            icon="pulse"
            size="is-small"
            class="hover:text-green-600"
          ).cursor-pointer
</template>

<script lang="ts" src="./ProjectCard.ts"></script>
