<template lang="pug">
  .updates-page.p-6.mx-auto.max-w-screen-lg
    .updates-page__breadcrumbs.mb-10
      breadcrumbs(:links="links")
    .updates-page__content
      update-list-item(
        v-for="(update, i) in updates"
        :key="`upd${i}`"
        :update="update"
      )
</template>

<script lang="ts" src="./index.ts"></script>
