<template lang="pug">
  .news-feed-item.flex(class="hover:bg-bsw-gray-5").cursor-pointer.p-2
    .news-feed-item__icon.mr-3
      template(v-if="item.type === itemTypes.FINANCE")
        img(src="/icons/finance_event.svg")
      template(v-if="item.type === itemTypes.SUCCESS")
        img(src="/icons/success_event.svg")
      template(v-if="item.type === itemTypes.COMMENT")
        img(src="/icons/comment_event.svg")
      template(v-if="item.type === itemTypes.UPDATES")
        img(src="/icons/updates_event.svg")
    .news-feed-item__main-info.flex.flex-col
      .news-feed-item__name.flex.items-center
        .font-bold.uppercase.mr-1 {{ item.name }}
        template(v-if="item.target != null")
          b-icon(icon="arrow-right" size="is-small").mr-1
          span.underline {{ item.target }}
      .news-feed-item__date {{ item.date }}
</template>

<script lang="ts" src="./NewsFeedItem.ts"></script>
