<template lang="pug">
  .arts-page.p-6.mx-auto.max-w-screen-lg
    .arts-page__breadcrumbs.mb-6.flex.justify-between
      breadcrumbs(:links="links")
      b-button(
        type="is-danger"
        icon-left="plus"
        size="is-small"
        outlined
        rounded
      ) Добавить иллюстрацию
    .arts-page__content.flex
      illustration-card(
        v-for="(art, i) in arts"
        :key="`art${i}`"
        :art="art"
      ).mr-3
</template>

<script lang="ts" src="./index.ts"></script>
