<template lang="pug">
  .members-page.p-6.mx-auto.max-w-screen-lg
    .members-page__breadcrumbs.mb-6
      breadcrumbs(:links="links")
    .members-page__content.flex
      MemberCard(:member="members[0]").mr-4
      MemberCard(:member="members[1]").mr-4
      .card.has-background-light.w-56.cursor-pointer
        .flex.h-full.flex.justify-center.items-center(class="hover:bg-orange-100")
          b-icon(icon="plus")
          span Пригласить
</template>

<script lang="ts" src="./index.ts"></script>
