<template lang="pug">
  .top-bar.shadow-md.py-2
    .flex.justify-between.px-4
      .top-bar__left.flex.items-center
        nuxt-link(to="/").mr-4: logo
        top-bar-menu
      .top-bar__right.flex.items-center
        user-dropdown.mr-4
        b-button(
          type="is-info"
          size="is-small"
          outlined
          rounded
          tag="nuxt-link"
          to="/"
        ).mr-2 Мои проекты
        b-button(
          type="is-success"
          size="is-small"
          outlined
          rounded
        ).mr-2 Счет
        b-button(
          type="is-danger"
          size="is-small"
          outlined
          rounded
          @click="signOut"
        ) Выйти
</template>

<script lang="ts" src="./TopBar.ts"></script>
<style src="./top-bar.css" scoped></style>
