<template lang="pug">
  .project-label.flex.items-center.cursor-pointer.p-3(
    :class="{ 'px-0': isMini, 'hover:bg-bsw-gray-5': hoverable }"
  )
    img(:src="img" width="40" height="40").rounded-full.mr-2
    span.font-bold.text-xs(
      v-line-clamp:20="2"
      style="word-break: normal"
    ) {{ !isMini ? label : null }}
</template>

<script lang="ts" src="./ProjectLabel.ts"></script>
