<template lang="pug">
  .update-list-item.flex.items-center.cursor-pointer.p-2(
    class="hover:bg-bsw-gray-5"
  )
    .update-list-item__icon.mr-2
      template(v-if="update.type === updateTypes.TEXT")
        img(src="/icons/text_update.svg")
      template(v-if="update.type === updateTypes.MUSIC")
        img(src="/icons/music_update.svg")
      template(v-if="update.type === updateTypes.ILLUSTRATION")
        img(src="/icons/illustration_update.svg")
    .update-list-item__main-info.flex-grow
      .font-bold {{ update.createdBy }}
      .text-sm {{ update.episode }}
    .update-list-item__comments.flex.items-center
      b-icon(icon="chat" size="is-small").mr-1
      .text-sm {{ update.commentsCount }}
</template>

<script lang="ts" src="./UpdateListItem.ts"></script>
