<template lang="pug">
  .member-card.has-background-light.inline-block.w-56.flex.flex-col.justify-between.items-center.p-6.card
    img(:src="member.avatar" width="115").rounded-full.mb-6
    .name.flex-grow
      .font-bold.text-lg.text-center {{ member.name }}
      .text-md.mb-6.text-center {{ member.role }}
    b-button(
      type="is-info"
      tag="nuxt-link"
      :to="`/m/profile/${member.id}`"
      outlined
      expanded
    ) Профиль
</template>

<script lang="ts" src="./MemberCard.ts"></script>
