<template lang="pug">
  .project.p-6.mx-auto
    .project__breadcrumbs.mb-6
      breadcrumbs(:links="links")
    .project__main-cover.mb-6
      .w-full.bg-no-repeat.bg-cover(
        :style="{ backgroundImage: `url(${project.cover})`, height: '350px' }"
      ).rounded-md.shadow-lg
    .project__main-info.flex.justify-between.mb-12
      .left
        .project__title.font-bold.text-xl.uppercase.mb-1 {{ project.name }}
        .project__tags
          b-tag(
            v-for="(tag, i) in project.tags"
            :key="`tag${i}`"
            rounded
            type="is-info"
          ).mr-2 {{ tag }}
      .right
        .project__rate
          b-rate(disabled :value="project.rate")
    .project__annotation
      h2.font-bold.mb-2 Аннотация
      p(v-html="project.annotation")
</template>

<script lang="ts" src="./index.ts"></script>

<style scoped>
.project {
  max-width: 1024px;
}
</style>
