<template lang="pug">
  svg(width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg")
   path(d="M20 40C8.97059 40 0 31.0294 0 20C0 8.97059 8.97059 0 20 0C31.0294 0 40 8.97059 40 20C40 31.0294 31.0294 40 20 40ZM20 2.35294C10.2647 2.35294 2.35294 10.2647 2.35294 20C2.35294 29.7353 10.2647 37.6471 20 37.6471C29.7353 37.6471 37.6471 29.7353 37.6471 20C37.6471 10.2647 29.7353 2.35294 20 2.35294Z" fill="url(#paint0_linear)")
   path(d="M20.684 15.064C21.8627 15.064 22.9287 15.3673 23.882 15.974C24.8353 16.5807 25.5807 17.4213 26.118 18.496C26.6727 19.5707 26.95 20.784 26.95 22.136C26.95 23.488 26.6727 24.71 26.118 25.802C25.5807 26.894 24.8353 27.7433 23.882 28.35C22.9287 28.9567 21.88 29.26 20.736 29.26C19.8347 29.26 18.994 29.0607 18.214 28.662C17.434 28.2633 16.8013 27.7693 16.316 27.18V27.934C16.316 28.2807 16.1947 28.5753 15.952 28.818C15.7267 29.0607 15.432 29.182 15.068 29.182C14.7213 29.182 14.4267 29.0693 14.184 28.844C13.9587 28.6013 13.846 28.298 13.846 27.934V11.008C13.846 10.644 13.9587 10.3493 14.184 10.124C14.4093 9.88133 14.704 9.76 15.068 9.76C15.432 9.76 15.7267 9.88133 15.952 10.124C16.1947 10.3667 16.316 10.6613 16.316 11.008V17.352C16.732 16.728 17.3387 16.1907 18.136 15.74C18.9333 15.2893 19.7827 15.064 20.684 15.064ZM20.398 26.972C21.1953 26.972 21.9147 26.764 22.556 26.348C23.1973 25.9147 23.6913 25.334 24.038 24.606C24.402 23.8607 24.584 23.0373 24.584 22.136C24.584 21.2347 24.402 20.42 24.038 19.692C23.6913 18.964 23.1973 18.392 22.556 17.976C21.9147 17.56 21.1953 17.352 20.398 17.352C19.5833 17.352 18.8553 17.56 18.214 17.976C17.5727 18.392 17.07 18.964 16.706 19.692C16.3593 20.4027 16.186 21.2173 16.186 22.136C16.186 23.0547 16.3593 23.878 16.706 24.606C17.07 25.334 17.5727 25.9147 18.214 26.348C18.8553 26.764 19.5833 26.972 20.398 26.972ZM30.7007 28.974C30.2847 28.974 29.964 28.8613 29.7387 28.636C29.5307 28.4107 29.4267 28.0813 29.4267 27.648V27.154C29.4267 26.738 29.5307 26.4173 29.7387 26.192C29.964 25.9667 30.2847 25.854 30.7007 25.854H30.9607C31.394 25.854 31.7147 25.9667 31.9227 26.192C32.148 26.4173 32.2607 26.738 32.2607 27.154V27.648C32.2607 28.532 31.8274 28.974 30.9607 28.974H30.7007Z" fill="url(#paint1_linear)")
   defs
    linearGradient(id="paint0_linear" x1="20" y1="0" x2="20" y2="40" gradientUnits="userSpaceOnUse")
      stop(stop-color="#EB5757")
      stop(offset="1" stop-color="#F2994A")
    linearGradient(id="paint1_linear" x1="26" y1="6" x2="26" y2="36" gradientUnits="userSpaceOnUse")
      stop(stop-color="#EB5757")
      stop(offset="1" stop-color="#F2994A")
</template>

<script>
export default {
  name: 'Logo'
};
</script>
