<template lang="pug">
  base-dropdown(@toggled="onDropdownToggle")
    template(#trigger)
      .trigger.flex.items-center.text-bsw-gray-50
        span.cursor-pointer О мастерской
        span(
          :class="{ 'rotate-180': isDropdownOpened }"
        ).transform.transition.duration-300: arrow-bottom-icon(:size="20")
    template(#content)
      .bg-white.py-3.shadow-md
        ul
          li(
            v-for="(item, i) in menuItems"
            :key="`mwdm${i}`"
            class="hover:bg-bsw-gray-5"
          ): nuxt-link(:to="item.link").text-gray-600.leading-7.px-5 {{ item.title }}
</template>

<script lang="ts" src="./WorkshopDropdownMenu.ts"></script>
