.bsw-gold-gradient {
  background: #F2994A; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #F2994A, #F2C94C); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #F2994A, #F2C94C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bsw-red-gradient {
  background: #FA55AE; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #FA55AE, #F64C56); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #FA55AE, #F64C56); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bsw-green-gradient {
  background: #6FCF97; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #6FCF97, #24D06C); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #6FCF97, #24D06C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bsw-orange-gradient {
  background: #EB5757; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #EB5757, #F2994A); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #EB5757, #F2994A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bsw-purple-gradient {
  background: #BC9CFF; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #BC9CFF, #8BA4F9); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #BC9CFF, #8BA4F9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
