<template lang="pug">
  .signin-page.flex.items-center.justify-center
    .signin-page__content(class="w-3/4")
      .signin-page__form.relative.py-16.px-32.rounded-large.border-4.border-black.bg-white
        .flex.justify-between
          // left column
          .flex.flex-col(class="w-2/5").justify-between.mr-5
            .uppercase.text-2xl.font-bold.mb-12 workshop
            template(v-if="pageState === availableStates.SIGNIN")
              .mb-32
                .mb-6
                  b-field(
                    :type="hasEmailError ? 'is-danger' : null"
                    :message="hasEmailError ? emailErrorMessage : null"
                  )
                    b-input(
                      v-model="signInData.email"
                      placeholder="Email"
                      icon="email"
                    )
                .mb-6
                  b-field(
                    :type="hasPasswordError ? 'is-danger' : null"
                    :message="hasPasswordError ? passErrorMessage : null"
                  )
                    b-input(
                      v-model="signInData.pass"
                      placeholder="Password"
                      icon="key"
                      type="password"
                      password-reveal
                    )
                .flex.justify-center.w-full
                  b-button(
                    type="is-info"
                    class="w-2/3"
                    rounded
                    @click="signIn"
                    :disabled="!canSignIn"
                    :loading="loading"
                  ) Войти
              .flex
                .text-sm.mr-1 Еще нет аккаунта?
                .text-sm.font-bold.cursor-pointer(@click="pageState = availableStates.SIGNUP") Создать
            template(v-if="pageState === availableStates.SIGNUP")
              .mb-32
                .mb-6
                  b-field(
                    :type="hasEmailError ? 'is-danger' : null"
                    :message="hasEmailError ? emailErrorMessage : null"
                  )
                    b-input(
                      v-model="signUpData.email"
                      placeholder="Email"
                      icon="email"
                    )
                .mb-6
                  b-field(
                    :type="hasPasswordError ? 'is-danger' : null"
                    :message="hasPasswordError ? passErrorMessage : null"
                  )
                    b-input(
                      v-model="signUpData.pass"
                      placeholder="Password"
                      type="password"
                      password-reveal
                      icon="key"
                    )
                .flex.justify-center.w-full
                  b-button(
                    type="is-info"
                    class="w-2/3"
                    rounded
                    @click="signUp"
                    :disabled="!canSignUp"
                    :loading="loading"
                  ) Создать
              .flex
                .text-sm.mr-1 Уже есть аккаунт?
                .text-sm.font-bold.cursor-pointer(@click="pageState = availableStates.SIGNIN") Войти

          // right column
          .flex(class="w-3/5")
            img(src="/images/book_reading.svg")

        // circle decoration
        .signin-page__circle-decor.absolute.rounded-full
        // left border decoration
        .absolute.inset-y-0.left-0.flex.items-center
          .w-2.bg-black.h-32.absolute.rounded-r-large


</template>

<script lang="ts" src="./index.ts"></script>
<style>
.signin-page {
  min-height: 100vh;
}
.signin-page__circle-decor {
  z-index: -1;
  top: -55px;
  left: 50%;
  transform: translateX(-50%);
  width: 670px;
  height: calc(100% + 115px);
  background-color: #6C63FF;
}
</style>
