<template lang="pug">
  .illustration-card.card.inline-block.rounded-md.overflow-hidden.has-background-light(
    style="width: 300px"
  )
    img(:src="art.src" width="300" height="200")
    .illustration-card__main-info.p-3.flex
      .flex(class="w-2/3").flex-col
        .font-bold.text-sm {{ art.name }}
        .text-xs {{ art.episode }}
      .flex.items-end.justify-end
        b-button(
          type="is-primary"
          size="is-small"
          icon-left="chat"
          outlined
          rounded
        ).mr-1 {{ art.commentsCount }}
        b-button(
          type="is-danger"
          size="is-small"
          icon-left="heart"
          outlined
          rounded
        ) {{ art.likesCount }}
</template>

<script lang="ts" src="./IllustrationCard.ts"></script>
