<template lang="pug">
  .episodes-page.p-6.mx-auto.max-w-screen-lg
    .episodes-page__breadcrumbs.mb-10
      breadcrumbs(:links="links")
    .episodes-page__content
      .font-semibold.text-md.mr-4 Сезон 1
      b-table(:data="seasonOneData")
        template(slot-scope="props")
          b-table-column(field="number" label="Номер" width="120" sortable numeric centered) {{ props.row.number }}
          b-table-column(field="episodeTitle" label="Название" sortable) {{ props.row.episodeTitle }}
          b-table-column(field="pubDate" label="Опубликована" width="120" sortable centered)
            span.tag.is-info {{ props.row.pubDate }}
          b-table-column(field="awe" label="AWE" width="100" sortable centered)
            span.tag(:class="getLabelColor(props.row.awe)") {{ props.row.awe }}
          b-table-column(field="views" label="Прочтения" width="100" sortable centered) {{ props.row.views }}
          b-table-column(field="rating" label="Рейтинг" width="100" sortable centered)
            span.tag(:class="getLabelColor(props.row.rating)") {{ props.row.rating }}
</template>

<script lang="ts" src="./index.ts"></script>
