<template lang="pug">
  .layout--default
    top-bar.relative.z-50
    .layout--default__content
      nuxt
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import TopBar from '../components/partials/topbar/TopBar.vue';

@Component({
  middleware: ['auth'],
  components: {
    TopBar
  }
})
export default class DefaultLayout extends Vue {}

</script>

<style>
.layout--default__content {
  height: calc(100vh - 56px);
}
</style>
