<template lang="pug">
  // layout для страниц входа, регистрации и проч.
  .layout--empty
    nuxt
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component({
  name: 'EmptyLayout'
})
export default class EmptyLayout extends Vue {}
</script>
