<template lang="pug">
  .layout--project
    top-bar.relative.z-50
    .layout--project__content.flex
      .layout--project__sidebar.h-full.relative: left-sidebar
      .layout--project__router-outlet.w-full: nuxt
</template>

<script lang="ts">
  import { Component, Vue } from 'vue-property-decorator';
  import TopBar from '../components/partials/topbar/TopBar.vue';
  import LeftSidebar from '~/components/partials/left-sidebar/LeftSidebar';

  @Component({
    name: 'ProjectLayout',
    middleware: ['auth'],
    components: {
      LeftSidebar,
      TopBar,
    }
  })
  export default class DefaultLayout extends Vue {}
</script>

<style>
  .layout--project__content {
    height: calc(100vh - 56px);
  }

  /* Переопределение стилей b-sidebar */
  .b-sidebar .sidebar-content.is-mini {
    width: 58px;
  }


</style>
