<template lang="pug">
  PerfectScrollbar
    .update-page.p-6.mx-auto.max-w-screen-lg
      .update-page__breadcrumbs.mb-10
        breadcrumbs(:links="links")
      .update-page__content
        vue-timeline-update(
          theme="light"
          :date="new Date('2020-06-01')"
          title="v2.2.0 - Initial D"
          description="Today I am thrilled to announce the release of Vue.js 2.2.0."
          category="announcement"
          icon="code"
          color="red"
        )
        vue-timeline-update(
          theme="light"
          :date="new Date('2016-11-22')"
          title="v2.1.0 - Hunter X Hunter"
          description="Today I am thrilled to announce the release of Vue.js 2.1.0."
          category="announcement"
          icon="code"
          color="turquoise"
        )
        vue-timeline-update(
          theme="light"
          :date="new Date('2016-09-30')"
          title="v2.0.0 - Ghost in the Shell"
          description="Today I am thrilled to announce the release of Vue.js 2.0.0"
          category="announcement"
          icon="code"
          color="green"
          is-last
        )
        vue-timeline-update(
          theme="light"
          :date="new Date('2016-11-22')"
          title="v2.1.0 - Hunter X Hunter"
          description="Today I am thrilled to announce the release of Vue.js 2.1.0."
          category="announcement"
          icon="code"
          color="turquoise"
        )
        vue-timeline-update(
          theme="light"
          :date="new Date('2016-09-30')"
          title="v2.0.0 - Ghost in the Shell"
          description="Today I am thrilled to announce the release of Vue.js 2.0.0"
          category="announcement"
          icon="code"
          color="green"
          is-last
        )
        vue-timeline-update(
          theme="light"
          :date="new Date('2016-11-22')"
          title="v2.1.0 - Hunter X Hunter"
          description="Today I am thrilled to announce the release of Vue.js 2.1.0."
          category="announcement"
          icon="code"
          color="turquoise"
        )
        vue-timeline-update(
          theme="light"
          :date="new Date('2016-09-30')"
          title="v2.0.0 - Ghost in the Shell"
          description="Today I am thrilled to announce the release of Vue.js 2.0.0"
          category="announcement"
          icon="code"
          color="green"
          is-last
        )
        .flex
          h1 comment
        vue-timeline-update(
          theme="light"
          :date="new Date('2016-11-22')"
          title="v2.1.0 - Hunter X Hunter"
          description="Today I am thrilled to announce the release of Vue.js 2.1.0."
          category="announcement"
          icon="code"
          color="turquoise"
        )
        vue-timeline-update(
          theme="light"
          :date="new Date('2016-09-30')"
          title="v2.0.0 - Ghost in the Shell"
          description="Today I am thrilled to announce the release of Vue.js 2.0.0"
          category="announcement"
          icon="code"
          color="green"
          is-last
        )
</template>

<script lang="ts" src="./index.ts"></script>

<style scoped>
  .update-page {
    max-height: calc(100vh - 56px);
  }
</style>
