<template lang="pug">
  .p-6.container.mx-auto
    h1.text-xl.font-bold.mb-4 Мои проекты
    .flex.mb-10
      template(v-if="loading")
        .w-full.flex.justify-center
          loader
      template(v-else)
        .flex.flex-wrap
          project-card(
            v-for="(project, i) in projects"
            :project="project"
            :key="`proj${i}`"
          ).mr-4.mb-4
          .card.has-background-light.cursor-pointer.w-64(@click="cardModal" style="height: 153px")
            .flex.items-center.justify-center.h-full.px-10(class="hover:bg-orange-100")
              .flex
                b-icon(icon="plus")
                .text-md Новый проект
    h1.text-xl.font-bold.mb-4 Недавние действия
    .flex.flex-col
      // history-event(:history-event="he1")
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { Getter, Mutation, namespace } from 'vuex-class';

import HistoryEventModel from '~/models/HistoryEvent';
import { HistoryEventType } from '~/models/HistoryEvent';
import ProjectService from '~/services/Project';
import User from '~/models/User';
import Project from '../models/Project';
import { GET_ALL_PROJECTS } from '~/store/project/actions';
import { PROJECTS } from '~/store/project/getters';
import { CURRENT_USER } from '~/store/user/getters';
import { LOADING, SET_LOADING } from '~/store';

import Loader from '~/components/css-spinner/Loader.vue';
import HistoryEvent from '~/components/history-event/HistoryEvent.vue';
import NewProjectModal from '~/components/modals/new-project-modal/NewProjectModal.vue';
import ProjectCard from '../components/project-card/ProjectCard.vue';



const ProjectModule = namespace('project');
const UserModule = namespace('user');

// const mockProject = new Project({
//   annotation: '', rate: 0, tags: [],
//   name: 'Название мегаэпичного проекта',
//   cover: '',
//   coverSmall: '/mock/mock_project_small.png',
//   hasText: true,
//   hasAudio: true,
//   hasArt: true
// });

@Component({
  components: {
    ProjectCard,
    HistoryEvent,
    Loader
  }
})
export default class IndexPage extends Vue {
  // public mockProject = mockProject;
  // public he1 = new HistoryEventModel(
  //   HistoryEventType.UPLOAD,
  //   `<span class="font-bold">Добавил</span> текст серии <a href="#" class="font-bold">СуперСерия1</a>`,
  //   this.projects[0]
  // );

  @UserModule.Getter(CURRENT_USER)
  public currentUser: User | null;

  @Getter(LOADING)
  public loading: boolean;

  @Mutation(SET_LOADING)
  public setLoading: (loadingState: boolean) => void;

  @ProjectModule.Action(GET_ALL_PROJECTS)
  public getAllProjects: (user: User) => void;

  @ProjectModule.Getter(PROJECTS)
  public projects: Array<Project>;

  imageModal() {
    this.$buefy.modal.open(
      `
        <p class="image is-4by3">
            <img src="https://buefy.org/static/img/placeholder-1280x960.png">
        </p>
      `
    )
  }

  cardModal() {
    this.$buefy.modal.open({
      parent: this,
      component: NewProjectModal,
      hasModalCard: true,
      customClass: 'modal-layer',
      trapFocus: true,
      canCancel: ['x', 'escape']
    })
  }

  public async getProjects() {
    if (this.currentUser) {
      this.setLoading(true);
      await this.getAllProjects(this.currentUser);
      this.setLoading(false);
    }
  }

  async mounted() {
    await this.getProjects();
  }
}
</script>

<style></style>
