<template lang="pug">
  .ui-kit-page.container.mx-auto.p-6
    .font-bold.text-2xl {{ title }}

    .font-bold.text-2xl.mb-6 Colors
    .flex.mb-12
      // accent
      .bg-bsw-accent(style="width: 100px; height: 100px").shadow-md.text-center.text-white.font-bold.pt-10.mr-4 accent
      // purple
      .bg-bsw-purple(style="width: 100px; height: 100px").shadow-md.text-center.text-white.font-bold.pt-10.mr-4 purple
      // green
      .bg-bsw-green(style="width: 100px; height: 100px").shadow-md.text-center.text-white.font-bold.pt-10.mr-4 green

    .font-bold.text-2xl.mb-6 Gradients
    .flex.mb-12
      // accent
      .bsw-gold-gradient(style="width: 100px; height: 100px").shadow-md.text-center.text-white.font-bold.pt-10.mr-4 accent
      // red
      .bsw-red-gradient(style="width: 100px; height: 100px").shadow-md.text-center.text-white.font-bold.pt-10.mr-4 purple
      // green
      .bsw-green-gradient(style="width: 100px; height: 100px").shadow-md.text-center.text-white.font-bold.pt-10.mr-4 green
      // orange
      .bsw-orange-gradient(style="width: 100px; height: 100px").shadow-md.text-center.text-white.font-bold.pt-10.mr-4 orange
      // purple
      .bsw-purple-gradient(style="width: 100px; height: 100px").shadow-md.text-center.text-white.font-bold.pt-10.mr-4 purple

      logo

    .flex
      b-button(type="is-success") test btn
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Logo from '~/components/Logo.vue';

@Component({
  components: {
    Logo
  }
})
export default class UiKit extends Vue {
  public title: string = 'UIKIT page';
}
</script>
