<template lang="pug">
  .modal-card
    .modal-card-head
      .font-semibold Новый проект
    .modal-card-body
      b-steps(
        :has-navigation="false"
        size="is-small"
        type="is-info"
        v-model="step"
      )
        b-step-item(icon="account" label="Тип проекта")
          .px-20.py-10
            .flex.justify-between
              .flex.flex-col.p-6.shadow-md.cursor-pointer.w-32.justify-between(
                v-for="(project, i) in projectTypes"
                :key="`proj${i}`"
                class="hover:bg-orange-100 hover:shadow-lg"
                :class="{ 'mr-6': i < projectTypes.length - 1, 'bg-orange-100': project.selected }"
                @click="selectProjectType(project)"
              )
                img(:src="project.icon")
                .font-semibold.text-sm.text-center {{ project.name }}
        b-step-item(icon="account" label="Основная информация")
          .px-20.py-10
            b-field(label="Название"): b-input(v-model="newProjectData.name")
            b-field(label="Аннотация"): froala(tag="textarea" :config="froalaEditorconfig" v-model="newProjectData.annotation")
        b-step-item(icon="account" label="Прочее")
          .px-20.py-10
            .flex.flex-col
              span.mb-2 Основная обложка
              b-field.file.w-full
                b-upload(v-model="file").w-full
                  a.button.is-primary.w-full
                    b-icon(icon="upload")
                    span Загрузить обложку
    .modal-card-foot
      .flex.justify-end.w-full
        b-button(size="is-small" @click="prevStep" :disabled="prevStepButtonDisabled") Назад
        b-button(v-if="step === 2" size="is-small" type="is-success" @click="createProject") Создать
        b-button(v-else size="is-small" type="is-info" @click="nextStep" :disabled="nextStepButtonDisabled") Далее
</template>

<script lang="ts" src="./NewProjectModal.ts"></script>
