<template lang="pug">
  .reviews-page.p-6.mx-auto.max-w-screen-lg
    .reviews-page__breadcrumbs.mb-10
      breadcrumbs(:links="links")
    .reviews-page__content
      b-table(:data="reviews")
        template(slot-scope="props")
          b-table-column(field="number" label="Номер" width="100" centered) {{ props.row.number }}
          b-table-column(field="episode" label="Серия" sortable) {{ props.row.episode }}
          b-table-column(field="pubDate" label="Дата" width="100" centered sortable)
            span.tag.is-info {{ props.row.pubDate }}
          b-table-column(field="author" label="Автор" width="150" centered sortable) {{ props.row.author }}
          b-table-column(field="rate" label="Оценка" width="100" centered sortable)
            span.tag(:class="getLabelColor(props.row.rate)") {{ props.row.rate }}
          b-table-column(field="reviewId" width="80")
            b-button(type="is-info" icon-left="eye" size="is-small" @click="readReview(props.row.reviewId)") Читать
</template>

<script lang="ts" src="./index.ts"></script>
