<template lang="pug">
  .history-event
    .history-event__project.flex.items-center
      .cover
        img(:src="historyEvent.project.coverSmall" width="40" height="40").mr-4
      .font-bold.text-md {{ historyEvent.project.name }}
    .history-event__desc.flex.items-center
      // TODO: icon depends on event type
      // добавить другие типы событий и иконки для них
      upload-icon.event-icon.mr-4(v-if="historyEvent.type === 'upload'")
      .history-event__desc-text(v-html="historyEvent.description")
</template>

<script lang="ts" src="./HistoryEvent.ts"></script>
<style scoped>
.history-event__project {
  margin-bottom: 20px;
}
.history-event__project > .cover {
  position: relative;
}
.history-event__project > .cover::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 20px;
  @apply bg-bsw-gray-50;
  left: 20px;
}
.history-event__desc {
  padding-left: 20px;
}
.history-event__desc > .event-icon {
  transform: translateX(-50%);
}
.history-event__desc-text {
  font-size: 14px;
}
</style>
