<template lang="pug">
  .base-dropdown(v-on-click-away="away")
    .base-dropdown__trigger.relative(@click="toggle")
      slot(name="trigger")
    .base-dropdown__content.absolute(v-if="isDropdownOpen")
      slot(name="content")
</template>

<script lang="ts" src="./BaseDropdown.ts"></script>
