<template lang="pug">
  .user-dropdown
    b-dropdown(aria-role="menu")
      .flex.items-center(
        slot="trigger"
        role="button"
      )
        .user-dropdown__name.mr-2.cursor-pointer
          .text-sm.font-semibold Имя Пользователя
        .user-dropdown__avatar.overflow-hidden.rounded-full.shadow-md.cursor-pointer
          img(src="https://randomuser.me/api/portraits/women/96.jpg" width="30" height="30")
      b-dropdown-item(
        custom
        aria-role="menu-item"
        :focusable="false"
      )
        h1 TODO: user dropdown menu
</template>

<script lang="ts" src="./UserDropdown.ts"></script>
