<template lang="pug">
  nav.breadcrumb.has-succeeds-separator(aria-label="breadcrumbs")
    ul
      li(
        v-for="(crumb, i) in breadcrumbs"
        :key="`br${i}`"
        :class="{ 'is-active': (i + 1) === breadcrumbs.length }"
      ): nuxt-link(:to="crumb.to") {{ crumb.name }}
</template>

<script lang="ts" src="./Breadcrumbs.ts"></script>
