<template lang="pug">
  .left-sidebar.h-full
    b-sidebar(
      position="static"
      type="is-light"
      :fullheight="true"
      :fullwidth="false"
      :overlay="false"
      :open="true"
      :reduce="!isSidebarOpened"
    ).h-full
      .pt-3.px-2.pb-2.h-full.flex.flex-col
        // Обложка и название текущего проекта
        project-label(
          :is-mini="!isSidebarOpened"
          :img="currentProject.coverSmall"
          :label="currentProject.name"
        ).mb-6

        // Меню внутри сайдбара
        .left-sidebar__menu
          b-menu
            b-menu-list
              template(v-if="isSidebarOpened")
                b-menu-item(icon="flask" :label="isSidebarOpened ? 'Проект' : ''")
                  b-menu-item(label="Подробнее" tag="nuxt-link" :to="`/project/${currentProjectId}`")
                  b-menu-item(label="Участники" tag="nuxt-link" to="/project/12/members")
                  b-menu-item(label="Новости" tag="nuxt-link" to="/project/12/news")
              template(v-else)
                b-menu-item(icon="flask" tag="nuxt-link" :to="`/project/${currentProjectId}`" :label="isSidebarOpened ? 'Проект' : ''")
              b-menu-item(icon="book" :label="isSidebarOpened ? 'Текст' : ''")
              b-menu-item(
                icon="palette"
                :label="isSidebarOpened ? 'Иллюстрации' : ''"
                tag="nuxt-link"
                to="/project/12/arts"
              )
              b-menu-item(icon="music" :label="isSidebarOpened ? 'Звук' : ''")
              b-menu-item(
                icon="file-document-outline"
                :label="isSidebarOpened ? 'Серии' : ''"
                tag="nuxt-link"
                to="/project/12/episodes"
              )
              b-menu-item(
                icon="update"
                :label="isSidebarOpened ? 'Обновления' : ''"
                tag="nuxt-link"
                to="/project/12/updates"
              )
              b-menu-item(
                icon="comment-quote-outline"
                :label="isSidebarOpened ? 'Отзывы' : ''"
                tag="nuxt-link"
                to="/project/12/reviews"
              )
              b-menu-item(icon="pulse" :label="isSidebarOpened ? 'Статистика' : ''")

        // Кнопка для сворачивания сайдбара и прочие кнпоки
        .left-sidebar__actions.flex.flex-grow.flex-col.justify-end
          b-button(@click="isSidebarOpened = !isSidebarOpened").w-full
            | {{ isSidebarOpened ? 'Свернуть' : null }}
            b-icon(v-if="!isSidebarOpened" icon="ray-start-arrow" title="Развернуть")
</template>

<script lang="ts" src="./LeftSidebar.ts"></script>
